.home {
  text-align: center;
  color: $black;
  h1 {
    color: black;
    font-weight: 600;
    font-size: 3em;
    letter-spacing: -0.01em;
    text-transform: none;
    text-align: start;
    @media (max-width: 768px){
      font-size: 2rem;
    }
  }
  h4 {
    color: black;
  }
  p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: start;
    font-size: 1.25rem;
    color: black;
  }
  .btn {
    margin-right: auto;
  }
}

.page-section {
  padding: 6rem 0;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-carrot-orange {
  background: $carrot-orange;
}

.bg-light-grey{
  background-color: #ebe3dd;
  background-attachment: fixed;
  color: black;
  h1,h4 {
    color: black;
  }
}


.flex-box-column {
  display: flex;
  flex-direction: column;
}
.home-masthead {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @media (max-width: 768px){
    margin-top: 68px;
  }
}

.masthead-box {
  position: absolute;
  z-index: 2;
}

// // .card {
// //   font-size: 1em;
// //   overflow: hidden;
// //   padding: 0;
// //   border: none;
// //   border-radius: .28571429rem;
// //   box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
// // }
// //
// // .card-block {
// //   font-size: 1em;
// //   position: relative;
// //   margin: 0;
// //   padding: 1em;
// //   border: none;
// //   border-top: 1px solid rgba(34, 36, 38, .1);
// //   box-shadow: none;
// //   color: black;
// //   &.--height-290 {
// //     @media(min-width: 992px) {
// //       height: 290px;
// //     }
// //   }
// // }
// //
// // .card-img-top {
// //   display: block;
// //   width: 210px;
// //   height: 210px;
// //   margin: auto;
// // }
// //
// // .product-card-img-top {
// //   display: block;
// //   width: 100%;
// // }
// //
// // .about-icon {
// //   width : 50%;
// // }
// //
// // .border-line {
// //   @media (min-width: 768px) {
// //     border-right: 3px solid black;
// //   }
// // }
//
// video#bgvid {
//   position: relative;
//   width: 200%;
//   height: 100%;
//   z-index: -100;
//   background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/seed-growth.jpg');
//   background-position: center center;
//   background-size: cover;
//   @media (max-width: 768px) {
//     width: 177%;
//   }
// }

.section-1-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
}

#smart-simple-elegant {
  color: black;
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 0 24px;
}

#section-2-container {
  position: relative;
}

.rounded-border {
  border-radius: 24px;
}

