<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOT Dashboard</title>

</head>
<body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <h3>MANUAL CONTROLS</h3>
  <button type="button" class="btn btn-primary"><a href="/on">ON</a></button>
  <button type="button" class="btn btn-primary"><a href="/off">OFF</a></button>
  <h3>WATERING TIMES</h3>
  <table style="width:100%">
      <form action="/change-timer/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
  </table>
  <h3>LIVE VIDEO</h3>
  <figure>
    <div id="stream-container" class="image-container">
      <div class="close" id="close-stream">×</div>
        <img id="stream" src="http://2.tcp.ngrok.io:17384/stream" style="height: 300px; width = 300px;">
    </div>
  </figure>
</body>
</html>
