.navbar {
  &__logo {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      width: 100%;
    }
    a svg {
      height: 38px;
      width: auto;
      max-width: 113px;
    }
    .menu-icon-mobile {
      position: relative;
      display: inline-block;
      span {
        position: absolute;
        top: 1.3rem;
        left: 1.1rem;
        text-transform: uppercase;
        font-size: 0.45rem;
      }
      svg {
        height: 30px;
        vertical-align: top;
      }
      @media (max-width: 370px) {
        top: 0;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 0;
    }
  }
}


nav.navbar {
  @media (min-width: 992px) {
    background: transparent;
    padding-left: 70px;
    padding-right: 70px;
  }
  background: $black;
  padding: 15px;
  transition: top 0.2s ease-in-out, background-color 0.5s ease;
}

nav.black {
  background: $black;
}

.navbar-nav {
  .nav-link {
    color: $white;
    &:hover {
      color: $light-orange;
    }
  }
  .nav-link.active {
    color: $light-orange !important;
  }
}

.nav-up {
    top: -70px;
}

