.navbar {
  &__logo {
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
      width: 100%;
    }
    a svg {
      height: 38px;
      width: auto;
      max-width: 113px;
    }
    .menu-icon-mobile {
      position: relative;
      display: inline-block;
      span {
        position: absolute;
        top: 1.3rem;
        left: 1.1rem;
        text-transform: uppercase;
        font-size: 0.45rem;
      }
      svg {
        height: 30px;
        vertical-align: top;
      }
      @media (max-width: 370px) {
        top: 0;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 0;
    }
  }
}
